ul {
    list-style-type: none;
}

li {
    padding-top: 1%;
    padding-bottom: 1.5%;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 95%;
}

* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
}

a, a:visited {
    text-decoration: none;
    color: maroon;
}

.newLi {
    background-color: darkred;
    color: gold;
    font-family: 'Open Sans', sans-serif;
    margin: 80px auto ;
    width: 90%;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    max-width: 150px;
    max-height: 150px;
    font-family: 'Open Sans', sans-serif;
    color: gold;
}

/* Style tab links */
.tablink {
    font-family: 'Open Sans', sans-serif;
    background-color: darkred;
    color: gold;
    float: left;
    border-left: 2px solid gold;
    border-right: 2px solid gold;
    border-top: 4px solid gold;
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-size: 27px;
    width: 50%;
}

.zoom {
    transition: transform .2s; /* Animation */
    height: 225px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.restaurantTabs {
    font-family: 'Open Sans', sans-serif;
    float: left;
    outline: none;
    padding: 15px;
    font-size: 15px;
    width: 14%;
}

.restaurantTabsPrices {
    font-family: 'Open Sans', sans-serif;
    float: left;
    outline: none;
    padding: 15px;
    font-size: 15px;
    width: 25%;
}

.suggestionsTabsHeaders{
    font-size: 22px;
    font-weight: bold;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    padding: 90px 20px;
    height: 100%;
}

main {
    overflow: hidden;
}

header {
    background-color: black;
    padding: 15px;
}

footer {
    background-color: black;
    color: white;
    font-family: 'Arimo', sans-serif;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

h3 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 120px;
    margin: 0px;
    padding-bottom: 20px;
    text-align: center;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-align: center;
    padding-top: 6%;
    width: 100%;
    font-size: 30px;
}

input, p {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
}

fieldset {
    border: 2px solid black;
    font-size: 25px;
    font-family: 'Arimo', sans-serif;
    margin: 15px auto;
    text-align: center;
    width: 90%;
}

legend {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

input[type='radio']:after, input[type='radio']:checked:after, [type='checkbox']:after, input[type='checkbox']:checked:after {
    background-color: lightgrey;
    border: 2px solid white;
    content: ''; /*this adds the custom styling*/
    display: inline-block;
    height: 15px;
    left: -1px;
    position: relative;
    top: -2px;
    visibility: visible;
    width: 15px;
}

input[type='radio']:checked:after, input[type='checkbox']:checked:after {background-color: black;}

#submitButton, #resetButton {
    background-color: black;
    color: white;
    display: inline-block;
    width: 150px;
    margin-right: 20px;
    height: 50px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    float: right;
}

.accordion {
    border: 1px solid black;
    color: white;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display:block;
    padding: 5px 10px;
    margin: 15px auto auto 10px;
}

#submitButton{margin-right: 5%;}

.accordion {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    display: block;
    width: 90%;
    margin: 10px auto;
}

.panel {
    background-color: white;
    display: none;
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    width: 100%;
    margin-top: 10px;
}
