* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
}

ul {
  list-style-type: none;
}

.newLi {
    background-color: darkred;
    font-family: 'Open Sans', sans-serif;
    color: gold;
}

/* Style tab links */
.tablink {
    font-family: 'Open Sans', sans-serif;
    background-color: darkred;
    color: gold;
    float: left;
    border-left: 2px solid gold;
    border-right: 2px solid gold;
    border-top: 4px solid gold;
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-size: 27px;
    width: 50%;
}

.restaurantTabs {
    font-family: 'Open Sans', sans-serif;
    float: left;
    outline: none;
    padding: 15px;
    font-size: 15px;
    width: 14%;
}

.suggestionsTabsHeaders{
    font-size: 22px;
    font-weight: bold;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: black;
    display: none;
    padding: 90px 20px;
    height: 100%;
}

main {
    overflow: hidden;
}

header {
    background-color: black;
}

footer {
    font-family: 'Arimo', sans-serif;
    font-size: 12px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 120px;
    margin: 0px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    color: black;
}


input, p {
    font-family: 'Arimo', sans-serif;
    font-size: 20px;
}

fieldset {
    border: 2px solid black;
    font-size: 25px;
    font-family: 'Arimo', sans-serif;
    width: 90%;
    margin:10px auto;
    text-align: center;
}

legend {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

input[type='radio']:after, input[type='radio']:checked:after, [type='checkbox']:after, input[type='checkbox']:checked:after {
    background-color: lightgrey;
    border: 2px solid white;
    content: ''; /*this adds the custom styling*/
    display: inline-block;
    height: 15px;
    left: -1px;
    position: relative;
    top: -2px;
    visibility: visible;
    width: 15px;
}

input[type='radio']:checked:after, input[type='checkbox']:checked:after {background-color: black;}

#submitButton, #resetButton {
    background-color: black;
    border: 1px solid black;
    color: white;
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display:block;
    float: right;
    padding: 5px 10px;
    margin: 15px auto auto 10px;
}

#submitButton{margin-right: 5%;}

.accordion {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    width: 100%;
    margin-top: 10px;
}

.panel {
    display: none;
    background-color: white;
    overflow: hidden;
    width: 90%;
    margin: auto;
    text-align: center;
}
